<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"></div> -->

<h1>Welcome to {{ title }}!</h1>
<nav>
  <ul  class="nav nav-pills">
    <li class="nav-tabs" ><a (click)="switchDash()" class="nav-link" [class.active]="dashboard" routerLink="/dashboard">Dashboard</a></li>
    <li class="nav-tabs" ><a class="nav-link" (click)="switchHero()" [class.active]="heroes" routerLink="/heroes">Heroes</a></li>
  </ul>
  
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>
